.gameboard{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    place-content: center;
    margin-top: 1em;
}

.square{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    cursor: pointer;
}