@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-ff: "Roboto", sans-serif;

  --aside-bg-clr: #1992d4;
  --main--bg-clr: #e2e8f0;
  --card-accent-clr: #f0b42b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--primary-ff);
}

img {
  max-width: 100%;
}

body {
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-auto-rows: auto;
}

.header {
  padding: 0.75em 2em;
  grid-column: 2 / 4;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.header__upper {
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 5em;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
  flex: 2;
}

.header__text {
  font-weight: 900;
}

.header__text p {
  margin-bottom: 0;
}

.header__text h2 {
  margin-top: 0;
}

.header__search {
  display: flex;
  gap: 1em;
  align-items: center;
  flex: 2;
}

.profile-pic {
  width: 50px;
}

.profile-pic img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  aspect-ratio: 1;
}

.header__search input[type="search"] {
  width: 100%;
  height: 25px;
  border: none;
  appearance: none;
  border-radius: 100px;
  background-color: var(--main--bg-clr);
}

.search-icon {
  width: 1.25em;
}

.header__lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__notif {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 1em;
  flex: 1;
  font-weight: 900;
}

.header__btns {
  display: flex;
  align-items: center;
  gap: 1em;
  flex: 1;
}

.header__btns button {
  border: none;
  background-color: var(--aside-bg-clr);
  color: white;
  padding: 0.75em 2em;
  border-radius: 100px;
  font-weight: 900;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  padding-right: 5em;
  background-color: var(--aside-bg-clr);
  color: white;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.aside__nav {
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
}

.aside__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 1.75em;
}

.aside__title h2 {
  margin: 0;
}

.filter-white {
  width: 1em;
  filter: brightness(0) invert(1);
}

.filter-white-big-icon {
  filter: brightness(0) invert(1);
  width: 2em;
}

.aside ul {
  font-weight: bold;
  margin: 0;
  margin-bottom: 3em;
}

.aside ul li {
  list-style: none;
  margin-bottom: 1em;
}

.aside__upper-nav-list-items {
  display: flex;
  align-items: center;
  gap: 1em;
}

.aside__upper-nav-list-items p {
  margin: 0;
}

.aside__upper-nav-list-items img {
  margin-left: -20px;
}

.aside__lower-nav-list-items {
  display: flex;
  align-items: center;
  gap: 1em;
}

.aside__lower-nav-list-items p {
  margin: 0;
}

.aside__lower-nav-list-items img {
  margin-left: -20px;
}

.content {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
  background-color: var(--main--bg-clr);
  padding: 1em;
}

.content p.title {
  font-weight: 900;
  font-size: 1.25rem;
}

.projects__grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1em;
}

.projects__card {
  background-color: white;
  padding: 1.5em 1.5em 3em 1.5em;
  border-radius: 10px;
  border-left: 10px solid var(--card-accent-clr);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  line-height: 1.5;
  position: relative;
}

.project__card--desc {
  font-size: 0.95rem;
  color: #747474;
  margin-top: 0;
}

.card-title {
  margin: 0;
  font-weight: 900;
}

.card-icons {
  width: 1.5em;
  display: flex;
  gap: 1em;
  position: absolute;
  bottom: 10%;
  right: 37%;
}

.content__aside {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.announcement__card {
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  font-size: 0.85rem;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}

.card-items + .card-items {
  border-top: 2px solid #ece9e9;
}

.card-item-title {
  font-weight: 900;
  margin-bottom: 0;
}

.card-item-desc {
  margin-top: 0;
  line-height: 1.5;
  color: #747474;
}

.trending__card {
  background-color: white;
  padding: 1.75em;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-size: 0.85em;
}

.trending__card-item {
  display: flex;
  align-items: center;
  gap: 1em;
}

.trending__card-item .desc {
  margin-top: 0;
  color: #747474;
}

.trending__card-username {
  font-weight: 900;
  margin-bottom: 0;
}

.title--trending {
  margin: 0;
}

@media (max-width: 56.25em) {
  * {
    font-size: 0.95rem;
  }
  .wrapper {
    display: unset;
    grid-template-columns: unset;
    grid-auto-rows: auto;
  }

  .header__btns {
    gap: 0.5em;
  }

  .header__btns button {
    padding: 0.5em 1em;
  }

  .aside {
    padding-right: 0;
  }

  .aside__title {
    cursor: pointer;
    margin: 0;
  }

  .aside ul {
    margin-bottom: 0;
  }

  .aside__nav {
    margin-top: 1em;
    visibility: hidden;
    height: 0;
    position: absolute;
  }

  .aside__lower-nav-list {
    margin: 0;
  }

  .nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
  }
}

@media (max-width: 28.125em) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .header__notif {
    justify-content: center;
    margin-bottom: 1em;
  }

  .header__user {
    order: 2;
  }

  .header__upper,
  .header__lower {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .header__upper {
    gap: 1em;
  }
}

@media (max-width: 26.875em) {
  .content {
    display: block;
  }
}
