@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Poppins:wght@500&display=swap");

:root {
  --primary-ff: "Poppins", sans-serif;
  --title-ff: "IM Fell English SC", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
  font-family: var(--primary-ff);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  font-size: 2rem;
  background-color: #f7d370;
}

h1 {
  font-family: var(--title-ff);
  margin-bottom: 0;
  margin-top: 0;
  color: rgb(163, 15, 15);
  font-size: calc(4vw + 2px);
}

main {
  margin: 1em auto;
  max-width: 100%;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px 3px;
}

.container-main {
  margin: 1em;
}

.container {
  width: 85%;
  margin: 1em auto;
  max-width: 800px;
}

.display {
  height: 60px;
  text-align: right;
}

.nums_ops {
  padding: 0.75em;
  width: 100%;
  cursor: pointer;
  border-collapse: separate;
  border-spacing: 0.25em;
}

.nums_ops-btn {
  /* padding: 0.125em; */
  background-color: rgb(241, 241, 241);
  text-align: center;
  border-radius: 100px;
}

.nums_ops-btn:active {
  background-color: yellow;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: orangered;
}

a:active {
  color: rebeccapurple;
}
