@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root{
    --ff-primary: 'Inter', sans-serif;
}

body{
    margin: 0 auto;
    background-color: bisque;
    font-family: var(--ff-primary)
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    margin: .25em 0
}

.btns{
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    padding: .2em 1em;
    font-family: inherit;
    font-weight: 500;
    color: navy;
    background-color: lightcyan;
    cursor: pointer;
}

.btns:hover, .btns:focus{
    background-color: rgba(0, 0, 0, 0.2);
}


.sketch{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.6);
    /* border: 1px solid red; */

}

.flex-item {
    border: 1px solid #ddd;
}   

.flex-item:hover{
    background-color: yellow;
}
